<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="../db.js"> </script>
</head>
<body>
    <h2> Editando o <%= func.fun_nome%> </h2>
    <form action="/editar/<%= func.fun_id%>" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<%= func.fun_nome%>" required placeholder="Nome do funcionario">
    
        <label for="idade">Idade:</label>
        <input type="idade" id="idade" name="idade" value="<%= func.fun_idade%>"required placeholder="Idade do funcionario">
    
        <label for="cargo">Cargo:</label>
        <select id="cargo" name="cargo" required placeholder="Cargo do funcionario">
            <option value="" disabled selected>Selecione um cargo</option>
            <option value="Dev. Junior">Dev. Junior</option>
            <option value="Dev. Pleno">Dev. Pleno</option>
            <option value="Dev. Senior">Dev. Senior</option>
            <option value="Product Owner">Product Owner</option>
        </select>
    
        <button type="submit"> Cadastrar </button>
    </form>
    <p></p>
    <a href="/"> <- Voltar </a>
</body>
</html>